/*
!.*

.profile

.Xdefaults
.bashrc
.gnome/
.ipython/
.jupyter/
.pylint.d/
.python_history
.xsession-errors.old
.zlogin
.zshrc

.vscode/
.xinputrc
.xscreensaver
.xsession-errors

.hex/
.hplip/
.java/
.macromedia/
.mix/
.mkshrc
.node-gyp/
.node_repl_history
.pam_environment
.pki/
.recently-used
.sane/
.task/
.taskrc
.templateengine/
.themes/
.thunderbird/
.var/


.Skype/
.Wammu
.apport-ignore.xml
.audacity-data/
.babel.json
.bash_logout
.bogofilter/
.claws-mail/
.compiz/
.dotnet/
.foxrc/
.gimp-2.8/
.gnupg/
.goggles/
.gstreamer-0.10/

.atom/
.CFUserTextEncoding
.DS_Store
.ICEauthority
.NERDTreeBookmarks
.Trash/
.Xauthority
.adobe/
.aws-credentials-master
.aws/
.bash_history
.bash_profile
.bashrc_pro
.bundle/
.bundler/
.cache/
.camfire-consolerc
.cheat/
.config/
.dbus/
.dmrc
.dropbox/
.dvdcss/
.esd_auth
.fontconfig/
.fonts.cache-1
.gconf/
.gconfd/
.gdb_history
.gem/
.gemrc
.ghc/
.gitconfig
.gitk
.gksu.lock
.gvimrc
.gvimrc.local
.htoprc
.hushlogin
.huslogin
.ievms/
.irb-history
.irb_history
.janus.rake
.kdiff3rc
.lesshst
.links/
.local/
.m2/
.mozilla/
.multitail.searchhistory
.netrc
.packer.d/
.parallels_settings
.pgpass
.pinerc
.pivotal-stories
.port_history
.profile
.profile
.pry_history
.psql_history
.pulse-cookie
.pulse/
.rbenv/
.rdebug_hist
.rdebugrc
.recently-used.xbel
.rediscli_history
.ri/
.ri1.9/
.rvm/
.rvmrc
.sh_history
.sqlite_history
.ssh/
.subversion/
.sudo_as_admin_successful
.thumbnails/
.vagrant.d
.vim-bundles/
.vim/backup
.viminfo
.vimrc
.w3m/
.weechat/logs
.weechat/weechat.log
.wireshark-etc/
.xinitrc
.xinitrc.old
.cups/
.npm/
