/*
!.*

.CFUserTextEncoding
.DS_Store
.DownloadManager/
.Trash/
.Xauthority
.adobe/
.bash_history
.bundle/
.config/
.cups/
.fontconfig/
.fonts.cache-1
.gem/
.gemrc
.gvimrc
.macports/
.parallels_settings
.port_history
.ri/
.rvm/
.sqlite_history
.ssh/
.subversion/
.thumbnails/
.twitter
.viminfo
.vimrc
.vim/backup
.vim-bundles/
#.vim.old/
#.vimrc.old
.w3m/
.xinitrc
.xinitrc.old
.htoprc
.irb-history
.pry_history
.rediscli_history
.node_libraries/
.npm/

.eyrc
.eyrc.awu
.eyrc.billetto
.gdb_history
.gitk
.gvimrc.local
.heroku/
.hushlogin
.huslogin
.irb_history
.irbrc
.janus.rake
.lesshst
.m2/
.multitail.searchhistory
.mysql_history
.netrc
.oces2/
.pinerc
.pivotal-stories
.rdebug_hist
.rdebugrc
.ri1.9/
.rspec
.rvmrc
.sh_history
.vegas/
.wireshark-etc/
.NERDTreeBookmarks
.ackrc
.billetto/
.bundler/
.camfire-consolerc
.cheat/
.dropbox/
.dvdcss/
