
/*
!.*

.nvidia-settings-rc
.CFUserTextEncoding
.DS_Store
.ICEauthority
.NERDTreeBookmarks
.Skype/
.Trash/
.Wammu
.Xauthority
.Xdefaults
.adobe/
.apport-ignore.xml
.atom/
.audacity-data/
.aws-credentials-master
.aws/
.babel.json
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrc_pro
.bogofilter/
.bundle/
.bundler/
.cache/
.camfire-consolerc
.cheat/
.claws-mail/
.compiz/
.config/
.cups/
.dbus/
.dmrc
.dotnet/
.dropbox/
.dvdcss/
.esd_auth
.fontconfig/
.fonts.cache-1
.foxrc/
.gconf/
.gconfd/
.gdb_history
.gem/
.gemrc
.ghc/
.gimp-2.8/
.gitconfig
.gitk
.gksu.lock
.gnome/
.gnupg/
.goggles/
.gstreamer-0.10/
.gtkrc-2.0
.gtkrc-2.0-kde4
.gvimrc
.gvimrc.local
.hex/
.hplip/
.htoprc
.hushlogin
.huslogin
.ievms/
.ipython/
.irb-history
.irb_history
.janus.rake
.java/
.jupyter/
.kde/
.kdiff3rc
.lesshst
.links/
.local/
.m2/
.macromedia/
.mix/
.mkshrc
.mozilla/
.multitail.searchhistory
.netrc
.node-gyp/
.node_repl_history
.npm/
.nv/
.packer.d/
.pam_environment
.parallels_settings
.pgpass
.pinerc
.pivotal-stories
.pki/
.port_history
.profile
.profile
.profile
.pry_history
.psql_history
.pulse-cookie
.pulse/
.pylint.d/
.python_history
.rbenv/
.rdebug_hist
.rdebugrc
.recently-used
.recently-used.xbel
.rediscli_history
.ri/
.ri1.9/
.rvm/
.rvmrc
.sane/
.sh_history
.sqlite_history
.ssh/
.subversion/
.sudo_as_admin_successful
.templateengine/
.themes/
.thumbnails/
.thunderbird/
.vagrant.d
.var/
.vim-bundles/
.vim/backup
.viminfo
.vimrc
.vscode/
.w3m/
.weechat/logs
.weechat/weechat.log
.wireshark-etc/
.xinitrc
.xinitrc.old
.xinputrc
.xscreensaver
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
