snippet log
	::Rails.logger.warn "#{__FILE__}:#{__LINE__}\n#> ${1} #{${2}}"
snippet info
	logger.info "#{__FILE__}:#{__LINE__}\n#> ${1} #{${2}}"
snippet rlog
	::Rails.logger.warn "#{__FILE__}:#{__LINE__}\n#> ${1} #{${2}}"
snippet yaml
	YAML::dump ${1}
snippet deb
	debugger;
snippet debug
	require 'ruby-debug'; debugger;
snippet pry
	require 'pry'; binding.pry;
